---
layout: page
footer: false
---
<div class="index-sidebar">
  <h1>Post Categories</h1>
</div>

<div class="index-main" style="padding-top:0px">
  <article>
    <p>Browse posts by topic:</p>
    <ul>
    {% for category in site.categories %}
      {% assign cat_name = category[0] %}
      {% assign cat_posts = category[1] %}
      {% assign slug = cat_name | replace: '_','-' | replace: ' ','-' | downcase %}
      <li><a href="{{ '/categories/' | append: slug | append: '/' | relative_url }}">{{ cat_name }}</a> ({{ cat_posts | size }})</li>
    {% endfor %}
    </ul>
  </article>
</div>
